# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Maven
target/
.mvn/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache/
bin/

# OS-specific
.DS_Store
Thumbs.db
desktop.ini
